extends ./layout.pug

block content

  section(class="section_form")
    // Afficher le formulaire sinon
    h1= pageTitle
    if messageSuccess
      // Afficher le message si présent
      p(class='success')= messageSuccess
      a(href='/') Revenir à Home <br>
    else

      form(action='/submit-contact' class="formulaire")


        label(for='subject' class='label') Subject :
        input(type='text', id='subject', name='subjest', required class="input", value= getsubject)
        if messageErrorSubjet 
          span(class='error')= messageErrorSubject 

        label(for='firstname' class='label') First name :
        input(type='text', id='firstname', name='firstname', required class="input", value= getfirstname)
        if messageErrorFirstname
          span(class='error')= messageErrorFirstname

        label(for='lastname' class='label') Last name :
        input(type='text', id='lastname', name='lastname', required class="input", value= getlastname)
        if messageErrorLastname
          span(class='error')= messageErrorLastname
        
        label(for='email' class='label') Email :
        input(type='email', id='email', name='email', required class="input", value= getemail )
        if messageErrorEmail
          span(class='error')= messageErrorEmail
          
        label(for='message' class='label') Message :
        input(type='message', id='message' ,name='message', required class="input", value= getmessage)   
        if messageErrorMessage 
          span(class='error')= messageErrorMessage

        button(type='submit' class='button') Submit


          
    if messageNosuccess
      // Afficher le message si présent
      p(class='error')= messageNosuccess