extends ./layout.pug

block content

  main
    //- Afficher le formulaire sinon
    h1= pageTitle
    
    if messageNosuccess
      //- Afficher le message si présent
      p(class='error')= messageNosuccess
    if messageSuccess
      //- Afficher le message si présent
      div(class="message__send")
        img(src='message_send.png', alt='message send')
        p(class='success')= messageSuccess
        a(href='/') return to home <br>

    else

      form(action='/submit-contact', method='POST', class="form form--send_message")

        div
          label(for='firstname') 
            span First name
            span(class="alert") &nbsp;*&nbsp;
            span :
          input(type='text', id='firstname', name='firstname', required, value= getfirstname)
          if messageErrorFirstname
            span(class='error')= messageErrorFirstname

        div
          label(for='lastname') 
            span Last name
            span(class="alert") &nbsp;*&nbsp;
            span : 
          input(type='text', id='lastname', name='lastname', required, value= getlastname)
          if messageErrorLastname
            span(class='error')= messageErrorLastname
        
        div
          label(for='email') 
            span Email
            span(class="alert") &nbsp;*&nbsp;
            span : 
          input(type='email', id='email', name='email', required, value= getemail )
          if messageErrorEmail
            span(class='error')= messageErrorEmail

        div
          label(for='phone') Phone :
          input(type='phone', id='phone', name='phone', value= getphone )
          if messageErrorPhone
            span(class='error')= messageErrorPhone

        div
          label(for='subject')
            span Subject
            span(class="alert") &nbsp;*&nbsp;
            span : 
          input(type='text', id='subject', name='subject', required, value= getsubject)
          if messageErrorSubject 
            span(class='error')= messageErrorSubject 

        div          
          label(for='message')
            span Message
            span(class="alert") &nbsp;*&nbsp;
            span : 
          textarea(type='text', id='message', name='message', required)= getmessage
          if messageErrorMessage 
            span(class='error')= messageErrorMessage


        button(type='submit') Submit

        p(class="alert") * : required fields

