extends ./layout.pug

block content

  main
    //- Afficher le formulaire sinon
    h1= pageTitle
    
          
    if messageNosuccess
      //- Afficher le message si présent
      p(class='error')= messageNosuccess
    if messageSuccess
      //- Afficher le message si présent
      p(class='success')= messageSuccess
      a(href='/') retourner à l'accueil <br>

    else

      form(action='/submit-contact', method='POST', class="form form--send_message")

        div
          label(for='firstname') First name* :
          input(type='text', id='firstname', name='firstname', required, value= getfirstname)
          if messageErrorFirstname
            span(class='error')= messageErrorFirstname

        div
          label(for='lastname') Last name* :
          input(type='text', id='lastname', name='lastname', required, value= getlastname)
          if messageErrorLastname
            span(class='error')= messageErrorLastname
        
        div
          label(for='email') Email* :
          input(type='email', id='email', name='email', required, value= getemail )
          if messageErrorEmail
            span(class='error')= messageErrorEmail

        div
          label(for='phone') Phone :
          input(type='phone', id='phone', name='phone', value= getphone )
          if messageErrorPhone
            span(class='error')= messageErrorPhone

        div
          label(for='subject') Subject* :
          input(type='text', id='subject', name='subject', required, value= getsubject)
          if messageErrorSubject 
            span(class='error')= messageErrorSubject 

        div          
          label(for='message') Message* :
          textarea(type='text', id='message', name='message', required)= getmessage
          if messageErrorMessage 
            span(class='error')= messageErrorMessage


        button(type='submit') Submit

        p * : champs obligatoire

